<!-- content starts -->	
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">主机存活性检查</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">编辑标准</a>
			</li>
		</ul>
	</div>
	
	
	<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header well" data-original-title>
					<h2><i class="icon-edit"></i> 编辑标准</h2>
				</div>
				<div class="box-content">
					<form class="form-horizontal" method="post" action="{% url hostalive_edit criterion.id %}" onsubmit="return validateCallback(this);">
						<fieldset>
						<div class="control-group">
							<label class="control-label">名称<span style="color:#f00">*</span></label>
							<div class="controls">
								<input class="input-xlarge required" type="text" name="name" value="{{criterion.name}}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">最大重试次数</label>
							<div class="controls">
								{% for key,value in retry_dict.items %}
								  <label class="radio inline">
									<input type="radio" name="retry_count" value="{{key}}"  
									
									{% ifequal criterion.retry_count key %}
										checked
									{% endifequal %}
									/>
									{{value}} 
								  </label>
								{% endfor %}
							</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">通知间隔</label>
							<div class="controls">
								{% for key,value in notify_dict.items %}
								  <label class="radio inline">
									<input type="radio" name="notify_interval" value="{{key}}"  
									
									{% ifequal criterion.notify_interval key %}
										checked
									{% endifequal %}
									/>
									{{value}} 
								  </label>
								{% endfor %}
								<i class="icon-question-sign" data-toggle="tooltip" data-original-title="如果当前时间减去上次报警时间小于此值,则不报警"></i>
							</div>
						 </div>
						 
						  <div class="control-group">
							<label class="control-label">备注<span style="color:#f00">*</span></label>
							<div class="controls">
							  <input class="input-xlarge required" type="text" name="comment" value="{{criterion.comment}}"/>
							</div>
						  </div>
						  
					  	  <div class="control-group">
							<label class="control-label">规则</label>
							<div class="controls">
							  	{% for rule in rule_list %}
							  		<label class="checkbox inline">
										<input type="checkbox" name="rules" value="{{ rule.id }}" 
											{% if rule.id in rule_id_list %}
												checked
											{% endif %}
										/>
										{{ rule.name }}
									</label>
								{% endfor %}
							</div>
						  </div>
						 <div class="control-group">
							<label class="control-label">IP地址列表<span style="color:#f00">*</span></label>
							<div class="controls">
								<textarea name="ip_list" class="required iplist textarea_std">{{criterion.ip_list}}</textarea>
								<i class="icon-question-sign" data-toggle="tooltip" data-original-title="IP地址列表，以逗号分隔,例:192.168.1.100,192.168.1.120"></i>
							</div>
						 </div>
						 
						 <div class="control-group">
							<label class="control-label">邮件报警联系地址列表</label>
								<div class="controls">
									<textarea name="email_list" class="emaillist textarea_std">{{criterion.email_list}}</textarea>
								</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">报警短信联系列表</label>
								<div class="controls">
									<textarea name="mobile_list" class="mobilelist textarea_std">{{criterion.mobile_list}}</textarea>
								</div>
						 </div>
						
						  <div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button class="btn" onclick ="return httpRedirectAjax('{% url hostalive_index %}')">取消</button>
						  </div>
						</fieldset>
					  </form>
				
				</div>
			</div><!--/span-->
		
		</div><!--/row-->
<!-- content ends -->

<script language="JavaScript" type="text/javascript">

//----------- start ---------------
$(document).ready(function(){
	 //校验
	 $("form").validate();
	 // 初始化 tooltip
	 $('.icon-question-sign').tooltip();
});
</script>