<!-- content starts -->	
	<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header well" data-original-title>
					<h2><i class="icon-list-alt"></i> HOST和IP对应关系</h2>
				</div>
				<div class="box-content">
					<fieldset class="form-horizontal">
						主机  <strong>{{host_id}}</strong>  对应的IP为  <strong>{{ip}}</strong>
						<div class="form-actions">
							<button type="button" class="btn btn-primary" onclick ="return backHistoryURL()">返回</button>
						</div>
					</fieldset>
				
				</div>
			</div><!--/span-->
		
	</div><!--/row-->
	
<!-- content ends -->
