
<!-- content starts -->	
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">系统管理</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">应用项管理</a>
			</li>
		</ul>
	</div>
	
	<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header well" data-original-title>
					<h2><i class="icon-edit"></i> 添加应用项</h2>
				</div>
				<div class="box-content">
					<form class="form-horizontal" method="post" action="{% url appitem_save %}" onsubmit="return validateCallback(this);">
						<fieldset>
							<input type="hidden" name="parent_id" value="{{parent_id}}"/>
							<div class="control-group">
								<label class="control-label">应用名称<span style="color:#f00">*</span></label>
								<div class="controls">
									<input class="input-xlarge required chrnum" type="text" name="app_name"/>
									<i class="icon-question-sign" data-toggle="tooltip" data-original-title="请使用英文字母、数字以及下划线，例:amap_server,建议应用名长度不超过30个字符"></i>
								</div>
							</div>
						
						  <div class="control-group">
							<label class="control-label">描述<span style="color:#f00">*</span></label>
							
							<div class="controls">
							  <input class="input-xlarge required" type="text" name="desc"/>
							</div>
						  </div>
						  <div class="control-group">
							<label class="control-label">检查时间间隔</label>
								<div class="controls">
									  <label class="radio inline">
										<input type="radio" name="check_interval" value="1" />
										1分钟
									  </label>
									  
									  <label class="radio inline">
										<input type="radio" name="check_interval" value="5" checked />
										5分钟
									  </label>
								</div>
						  </div>

						  <div class="control-group">
							<label class="control-label">是否报警</label>
							    <div class="controls">
									<label class="radio inline">
									    <input type="radio" name="is_alarm" value="0" checked="checked" /> 否
									</label>
									<label class="radio inline">
										<input type="radio" name="is_alarm" value="1"  /> 是
									</label>
								</div>
						  </div>
						  
						<div class="control-group">
							<label class="control-label">最大重试次数</label>
							<div class="controls">
								  <label class="radio inline">
									<input type="radio" name="max_check_attempts" value="1"/>
									1次
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="max_check_attempts" value="2" checked/>
									2次
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="max_check_attempts" value="3"/>
									3次
								  </label>
							</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">通知间隔</label>
							<div class="controls">
								  <label class="radio inline">
									<input type="radio" name="notify_interval" value="1"/>
									不限
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="notify_interval" value="10" />
									10分钟
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="notify_interval" value="60" checked/>
									1小时
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="notify_interval" value="360"/>
									6小时
								  </label>
								  <i class="icon-question-sign" data-toggle="tooltip" data-original-title="如果当前时间减去上次报警时间小于此值,则不报警"></i>
							</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">应用类型</label>
							<div class="controls">
								  <label class="radio inline">
									<input type="radio" name="app_type" value="1"/>
									Http
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="app_type" value="2" />
									Ping
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="app_type" value="3" />
									TCP
								  </label>
								  
								  <label class="radio inline">
									<input type="radio" name="app_type" value="4" checked/>
									其它
								  </label>
								  <i class="icon-question-sign" data-toggle="tooltip" data-original-title="如果你不清楚，请咨询管理员"></i>
							</div>
						 </div>
						 
						 <div class="control-group">
							<label class="control-label">IP地址列表<span style="color:#f00">*</span></label>
							<div class="controls">
								<textarea name="ip_list" class="required iplist textarea_std"></textarea>
								<i class="icon-question-sign" data-toggle="tooltip" data-original-title="IP地址列表，以逗号分隔,例:192.168.1.100,192.168.1.120"></i>
							</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">邮件报警联系地址列表</label>
								<div class="controls">
									<textarea name="email_list" class="emaillist textarea_std"></textarea>
								</div>
						 </div>
						 <div class="control-group">
							<label class="control-label">报警短信联系列表</label>
								<div class="controls">
									<textarea name="mobile_list" class="mobilelist textarea_std"></textarea>
								</div>
						 </div>
						
							<div class="control-group">
								<label class="control-label">当前应用机房分布情况</label>
								<div class="controls">
								  	{% for key, value in noc_info_dict.iteritems %}
								  		<label class="checkbox inline">
											<input type="checkbox" name="noc_list" value="{{ key }}"> {{ value }}
									  	</label>
								  	{% endfor %}
								</div>
							  </div>
						  
						
						  <div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button class="btn" onclick ="return httpRedirectAjax('{% url appitem_index %}')">取消</button>
						  </div>
						</fieldset>
					  </form>
				
				</div>
			</div><!--/span-->
		
		</div><!--/row-->
<!-- content ends -->

<script language="JavaScript" type="text/javascript">

//----------- start ---------------
$(document).ready(function(){
	 //校验
	 $("form").validate();
	 // 初始化 tooltip
	 $('.icon-question-sign').tooltip();
});
</script>