<!-- content starts -->	
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="#">主动监控</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="#">TCP服务监控</a>
			</li>
		</ul>
	</div>
	
	
	<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header well" data-original-title>
					<h2><i class="icon-edit"></i> 添加TCP服务</h2>
				</div>
				<div class="box-content">
					<form class="form-horizontal" method="post" action="{% url tcpinfo_add %}" onsubmit="return validateCallback(this);">
						<fieldset>
						  
						<div class="control-group">
							<label class="control-label">TCP服务所属应用服务</label>
							<div class="controls">
								<select name="app_id">
							      {% for item in app_list %}
							      	 <option value ="{{item.id}}">{{item.desc}}</option>
								  {% endfor%}
								</select>
							</div>
						</div>
						  
						<div class="control-group">
							<label class="control-label">PORT</label>
							<div class="controls">
								<input class="input-xlarge" type="text" name="port_list" />
								<i class="icon-question-sign" data-toggle="tooltip" 
								data-original-title="多个端口以逗号分隔"></i>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">响应时间</label>
							<div class="controls">
								<input class="input-xlarge" type="text" name="responsetime" />
								<i class="icon-question-sign" data-toggle="tooltip" 
								data-original-title="请在此处填写数字，表示预定的响应时间，单位为ms"></i>
							</div>
						</div>
						
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">保存</button>
							<button class="btn" onclick ="return httpRedirectAjax('{% url tcpinfo_index %}')">取消</button>
						</div>
						</fieldset>
					  </form>
				
				</div>
			</div><!--/span-->
		
		</div><!--/row-->
<!-- content ends -->

<script language="JavaScript" type="text/javascript">
//----------- start ---------------
$(document).ready(function(){
	//校验
	$("form").validate();
	
	// 初始化 tooltip
	$('.icon-question-sign').tooltip();
	
});
</script>